*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1{
    color: dodgerblue;
}

h5{
    color: dodgerblue;
}

a{
    color: orange;
}

body{
    background-color: lightskyblue;
}

img{
    width: 20%;
    align-items: center;
    border: 5px;
    border-color: dodgerblue;
}

li{
    text-align: left;
}

