*{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1{
    color: dodgerblue;
}

h5{
    color: dodgerblue;
}

a{
    color: orange;
}

a:hover{
    color: aliceblue;
}

body{
    background-color: lightskyblue;
}

img{
    width: 30%;
    align-items: center;
    border: dodgerblue 5px solid;
    display: inline-block;
}

li{
    text-align: left;
}

p{
    text-align: justify;
}

